<!-- start custom head snippets -->

<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<!--
<link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

<style>
  body {
    font-family: 'DotGothic16', sans-serif !important;
  }
</style>
-->

<!--　<link rel="stylesheet" href="/assets/css/custom.css">　-->


<style>
@font-face {
  font-family: 'MyFont';
  src: url('{{ "/assets/fonts/rucofont.woff2" | relative_url }}') format('woff2');
}
body {
  font-family: 'MyFont', sans-serif !important;
}
</style>


<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
