@font-face {
  font-family: 'MyCustomFont';
  src: url('{{ "/assets/fonts/rucofont.woff2" | relative_url }}') format('woff2'),
       url('{{ "/assets/fonts/rucofont.ttf" | relative_url }}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root { --header-font: 'MyCustomFont', sans-serif !important; }
.site-title, .page__title { font-family: 'MyCustomFont' !important; }

#page-title,
#page-title a,
h1.page__title {
  font-family: 'YourFontName', sans-serif !important;
}

html, body,
h1, h2, h3, h4, h5, h6,
p, a, li, span, div,
.site-title, .site-title a,
.page__title, .page__title *,
.entry-title,
.masthead__menu-item, .masthead__menu-item a,
.sidebar, .sidebar * {
  font-family: 'MyCustomFont', sans-serif !important;
}
