@font-face {
  font-family: 'MyCustomFont';
  src: url('{{ "/assets/fonts/rucofont.woff2" | relative_url }}') format('woff2'),
       url('{{ "/assets/fonts/rucofont.ttf" | relative_url }}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* H1タイトル強制上書き */
#page-title,
#page-title a,
.page__title,
.page__title a,
h1,
h1 a {
  font-family: 'MyCustomFont' !important;
  font-weight: normal !important;
}
body {
  font-family: 'MyCustomFont', sans-serif !important;
}
