@font-face {
  font-family: 'MyCustomFont';
  src: url('{{ "/assets/fonts/rucofont.woff2" | relative_url }}') format('woff2'),
       url('{{ "/assets/fonts/rucofont.ttf" | relative_url }}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyCustomFont', sans-serif !important;
}
