@font-face {
  font-family: 'MyCustomFont';
  src: url('/assets/fonts/rucofont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyCustomFont', sans-serif;
}
